@use "./mixins" as *;

:root {
	--dyslexia-font: "Comic Neue", "Comic Sans MS", sans-serif;
	--heading-font: "Orbitron", sans-serif;
	--body-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

	--bg-primary: 45, 34, 61;
	--bg-secondary: 18, 18, 18;
	--cl-primary: 165, 126, 223;

	--cl-heading-secondary: 255, 130, 255;
	--cl-paragraph-secondary: 239, 239, 239;
	--cl-interactives: 128, 204, 255;
}

*,
*::before,
*::after {
	box-sizing: border-box;

	@media (prefers-reduced-motion) {
		transition: none !important;
	}
}
html {
	color: rgba(165, 126, 223);
	font-family: var(--body-font);

	&.lowercase-only {
		text-transform: lowercase;
	}
	&.dyslexia-font {
		--heading-font: var(--dyslexia-font);
		--body-font: var(--dyslexia-font);
		letter-spacing: 0.075em;
	}
	&.no-blurs * {
		-webkit-backdrop-filter: none !important;
		backdrop-filter: none !important;
	}
}
section {
	@extend %component-box;
}

@for $i from 1 through 6 {
	.dyslexia-font h#{$i} {
		font-family: var(--dyslexia-font);
	}
	h#{$i} {
		font-family: var(--heading-font);
		letter-spacing: 0.05em;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		padding-left: 1.5rem;
		position: relative;

		&::before {
			content: "â—";
			position: absolute;
			left: 0;
		}
	}
}
h1 {
	border-bottom: 1px solid currentColor;
}
p {
	line-height: 1.5em;
}
a {
	color: rgba(var(--cl-interactives));
	text-decoration: none;
	border-bottom: 1px solid currentColor;

	&:hover,
	&:focus-visible {
		border-bottom-style: dotted;

		img {
			filter: brightness(1.2);
		}
	}
}
abbr {
	text-decoration: dotted underline;
}
hr {
	border: none;
	border-top: 1px dotted;
}
button {
	background: rgba(var(--bg-secondary));
	font-family: var(--heading-font);
	padding: 0.35rem 0.5rem;
	border: 2px solid currentColor;

	color: rgba(var(--cl-interactives));

	&:hover,
	&:focus-visible {
		color: rgba(var(--cl-heading-secondary));
	}
	&:active {
		color: rgba(var(--cl-paragraph-secondary));
	}
}
input[type="range"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	height: 2px;
	background: rgba(var(--cl-paragraph-secondary));

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		width: 10px;
		height: 10px;
		border: 2px solid rgba(var(--cl-interactives));
		background: rgba(var(--bg-secondary));
	}
	&:is(:focus-visible, :hover):not([disabled])::-webkit-slider-thumb {
		border: 2px solid rgba(var(--cl-heading-secondary));
		background: rgba(var(--cl-interactives));
	}
	&[disabled] {
		opacity: 0.25;
	}
}
:is(a, button, input):focus-visible {
	outline: 1px dashed rgba(var(--cl-paragraph-secondary));
}
table {
	margin: 0 auto;
	border-collapse: collapse;

	tr {
		&:nth-child(even) {
			background: rgba(var(--bg-secondary), 0.95);
		}
	}
	th {
		font-size: 1.125rem;
		background: rgba(var(--cl-interactives));
		color: rgba(var(--cl-heading-secondary));
		text-shadow:
			2px 0px white,
			0px 2px white,
			-2px 0px white,
			0px -2px white,
			-2px -2px white,
			2px 2px white,
			-2px 2px white,
			2px -2px white;
	}
	td {
		color: rgba(var(--cl-paragraph-secondary));
	}
	th,
	td {
		padding: 0.5rem 1rem;
		border: 1px solid rgba(var(--cl-primary));
	}
}
.avatar {
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	background: url(../images/me/avatar.jpg) center / contain;
}
.grid-column {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;

	@media screen and (max-width: 37rem) {
		grid-template-columns: 100%;
	}
}
.flex-column {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;

	> * {
		flex-grow: 1;
	}
}
*::-webkit-scrollbar {
	width: 5px;
	height: 5px;

	&-thumb {
		background-color: rgba(var(--cl-heading-secondary));
	}
}
