@use "./mixins" as *;

body {
	min-width: 20rem;
	max-width: 68rem;
	margin: 3rem auto;

	display: grid;
	grid-template-columns: 12rem 40rem 12rem;
	grid-template-areas:
		"l m r"
		"b f i";
	gap: 1rem;

	@media screen and (min-width: 68rem) {
		padding: 0 1rem;
	}
	@media screen and (max-width: 68rem) {
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-template-areas:
			"l"
			"m"
			"r"
			"f"
			"b";
	}
}
header {
	@extend %component-box;
}
aside {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	@media screen and (max-width: 68rem) {
		overflow-x: auto;
		flex-flow: row nowrap;
		padding: 0 1rem;
		max-height: 11rem;
	}

	&.left {
		grid-area: l;
	}
	&.right {
		grid-area: r;
	}
	> * {
		@extend %component-box;

		@media screen and (max-width: 68rem) {
			overflow-y: auto;
			min-width: -webkit-fit-content;
			min-width: -moz-fit-content;
			min-width: fit-content;
			flex-grow: 1;
		}
	}
	h2 {
		font-size: 1.25em;
	}
	h3 {
		margin: 0;
		font-style: italic;
		font-size: 0.9rem;
		text-align: right;

		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 0.5rem;

		&::before {
			content: "";

			flex-grow: 1;
			background: currentColor;
			height: 1px;
		}
	}
	&::-webkit-scrollbar-thumb {
		border-inline: 1rem solid transparent;
		background-clip: content-box;
	}
}
main {
	grid-area: m;
	position: relative;
	overflow: hidden;
	min-height: 12rem;

	@media screen and (max-width: 68rem) {
		width: 40rem;
		margin: 0 auto;
		padding: 0 1rem;
	}
	@media screen and (max-width: 42rem) {
		max-width: 40rem;
		width: 100%;
	}

	iframe {
		width: 100%;
		min-height: 100%;
	}
	.load-indicator {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 50px;
		height: 50px;
		border-radius: 50%;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent rgba(var(--cl-heading-secondary))
			transparent;
		animation: load 1s ease-in-out infinite;

		@keyframes load {
			from {
				transform: translate(-50%, -50%) rotate(0);
			}
			to {
				transform: translate(-50%, -50%) rotate(2turn);
			}
		}
	}
	&.loading {
		@media screen and (max-width: 68rem) {
			max-height: 5rem;
		}

		iframe {
			animation: blink 1s alternate linear infinite;

			@keyframes blink {
				from {
					opacity: 0.5;
				}
				to {
					opacity: 0.1;
				}
			}
		}
		.load-indicator {
			display: block;
		}
	}
}
footer {
	@extend %component-box;
	grid-area: f;

	@media screen and (max-width: 68rem) {
		margin: 0 1rem;
		padding: 1rem;
	}
}
#settings div {
	display: grid;
	column-gap: 0.5rem;
	grid-template-columns: 1fr auto;

	* {
		margin-bottom: 0.5rem;
	}
}
#navigation nav {
	margin: 0.25rem 0 0.5rem;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 68rem) {
		flex-flow: row wrap;
	}

	a {
		position: relative;
		padding: 0.25rem 0.75rem;
		border: none;
		transition: color 0.2s;

		-webkit-user-select: none;
		user-select: none;

		&::after {
			content: "";
			position: absolute;
			top: 0.6em;
			bottom: 0.6em;
			left: 0;
			width: 3px;
			border-radius: 10px;
			background: transparent;
			transition: background-color 0.2s;
			filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.8));
		}
		&:hover {
			&::after {
				background: rgba(var(--cl-paragraph-secondary));
			}
		}
		&:active {
			transition: none;
		}
	}
}
#splash-message {
	@media screen and (max-width: 68rem) {
		display: none;
	}

	padding: 0.5rem 0;
}
#sites-buttons {
	@extend %component-box;

	display: flex;
	align-items: center;

	grid-area: b;
	padding: 0;

	@media screen and (max-width: 68rem) {
		margin: 0 1rem;
		padding: 1rem 0;
	}

	.marquee a {
		--index-x: 0;
		--index-y: 0;

		display: inline-block;
		width: 88px;
		height: 31px;
		background-image: url(../images/buttons-sprite.png);
		background-position-x: calc(-88px * var(--index-x));
		background-position-y: calc(-31px * var(--index-y));
		border: none;
		transition: filter 0.2s;

		&:hover {
			filter: brightness(1.2);
		}
	}
}
#status {
	.overall {
		display: flex;
		justify-content: space-between;
		flex-flow: row nowrap;
	}
	.emotes {
		font-size: 3em;
	}
}
#reloadIframe {
	position: absolute;
	top: 15px;
	right: 15px;

	@media screen and (max-width: 68rem) {
		margin-right: 1rem;
	}
}
#clock {
	position: relative;
	margin: auto;
	width: 8rem;
	height: 8rem;

	.avatar {
		position: absolute;
		inset: 0;
		z-index: 1;
		border-radius: 50%;
		box-shadow:
			inset 2px 2px 3px rgba(255, 255, 255, 0.35),
			inset -2px -2px 3px rgba(0, 0, 0, 0.35);
		background: url(../images/me/avatar.jpg) center / contain;
	}
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 0.75rem;
		height: 0.75rem;
		border-radius: 50%;
		z-index: 5;
		transform: translate(-50%, -50%);
		background: #372910;
	}
	&::after {
		content: "";
		position: absolute;
		inset: -4px;
		border-radius: 50%;
		background: linear-gradient(135deg, #7e6031, #271c09);
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
	}
}
#second-hand,
#minute-hand,
#hour-hand {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%) rotate(var(--rotate));
	transform-origin: bottom center;
	height: 50%;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 99px;
	}
}
#second-hand {
	--rotate: 0deg;

	width: 3px;
	z-index: 4;

	&::after {
		height: 100%;
		background: rgba(255, 0, 0);
	}
}
#minute-hand {
	--rotate: 0deg;

	width: 6px;
	z-index: 3;

	&::after {
		height: 85%;
		background: rgba(220, 220, 220);
	}
}
#hour-hand {
	--rotate: 0deg;
	z-index: 2;

	width: 10px;

	&::after {
		height: 55%;
		background: rgba(240, 240, 240);
	}
}
.volume {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	margin-top: 1rem;
	gap: 0.5rem;
}
.change-or-play {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}
#pp-btn {
	width: 2.5rem;
	height: 2.5rem;

	display: flex;
	justify-content: center;
	align-items: center;

	&::before,
	&::after {
		height: 1rem;
		background: currentColor;
	}
	&::before {
		content: "";
		width: 1rem;
		clip-path: polygon(0 0, 100% 50%, 0 100%);
	}

	&.playing {
		&::before,
		&::after {
			width: 0.35rem;
		}
		&::before {
			margin-right: 0.1rem;
			clip-path: none;
		}
		&::after {
			content: "";
			margin-left: 0.1rem;
		}
	}
}
#next-btn,
#prev-btn {
	display: flex;
	align-items: center;
	justify-content: center;

	&::before,
	&::after {
		content: "";
		height: 1rem;
		background: currentColor;
	}
}
#next-btn {
	&::before {
		width: 0.6rem;
		clip-path: polygon(0 0, 100% 45%, 100% 55%, 0 100%);
	}
	&::after {
		width: 0.2rem;
	}
}
#prev-btn {
	&::after {
		width: 0.6rem;
		clip-path: polygon(100% 0, 100% 100%, 0% 55%, 0% 45%);
	}
	&::before {
		width: 0.2rem;
	}
}
#mute-btn {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.15rem;

	background: none;
	border: none;
	padding: 0;

	&::before,
	&::after {
		content: "";
		background: currentColor;
	}
	&::before {
		width: 0.1rem;
		height: 0.5rem;
	}
	&::after {
		content: "";
		width: 0.4rem;
		height: 1rem;
		clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 75%);
	}
	span {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
#loop-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
:is(#loop-btn.loop, #mute-btn.muted span)::before {
	content: "";
	background: currentColor;
	width: 2px;
	height: 125%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}
#audio-volume {
	width: 100%;
	flex-grow: 1;
}
#system-info {
	position: fixed;
	bottom: 0;
	right: 0;
	font-style: italic;
	font-family: var(--heading-font);
	text-align: right;
	opacity: 0.75;
	pointer-events: none;
}
