@charset "UTF-8";
section {
  background: rgba(var(--bg-secondary), 0.75);
  border-radius: 15px;
  padding: 1.25rem;
  border: 2px solid rgb(55, 55, 55);
  color: rgba(var(--cl-paragraph-secondary));
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
section :is(h1, h2, h3, h4, h5, h6) {
  color: rgba(var(--cl-heading-secondary));
}
section :is(h1, h2, h3, h4, h5, h6, p, ul):first-child {
  margin-top: 0;
}
section :is(h1, h2, h3, h4, h5, h6, p, ul):last-child {
  margin-bottom: 0;
}
section:target {
  box-shadow: 0 0 5px 1px rgba(var(--cl-heading-secondary));
  border: 2px solid rgba(var(--cl-heading-secondary));
}
section::-webkit-scrollbar-thumb {
  border-block: 15px solid transparent;
  background-clip: content-box;
}

a, button {
  color: rgba(var(--cl-interactives));
}
a:hover, button:hover, a:focus-visible, button:focus-visible {
  color: rgba(var(--cl-heading-secondary));
}
a:active, button:active {
  color: rgba(var(--cl-paragraph-secondary));
}

@font-face {
  font-family: "Comic Neue";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ComicNeue-Bold.ttf) format("TrueType");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Orbitron-Bold.ttf) format("TrueType");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  --dyslexia-font: "Comic Neue", sans-serif;
  --heading-font: "Orbitron", sans-serif;
  --body-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --bg-primary: 45, 34, 61;
  --bg-secondary: 18, 18, 18;
  --cl-primary: 165, 126, 223;
  --cl-heading-secondary: 255, 130, 255;
  --cl-paragraph-secondary: 239, 239, 239;
  --cl-interactives: 128, 204, 255;
  --cursor-default: url(../images/cursors/cursor.png) 0 0, default;
  --cursor-pointer: url(../images/cursors/pointer.png) 3 0, pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    transition: none !important;
  }
}

html {
  color: rgb(165, 126, 223);
  font-family: var(--body-font);
  cursor: var(--cursor-default);
}
html.lowercase-only {
  text-transform: lowercase;
}
html.dyslexia-font {
  --heading-font: var(--dyslexia-font);
  --body-font: var(--dyslexia-font);
  letter-spacing: 0.1em;
  line-height: 1.5rem;
}
html.no-blurs *,
html.no-blurs *::before,
html.no-blurs *::after {
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
}
html.no-animation *,
html.no-animation *::before,
html.no-animation *::after {
  animation: none !important;
}
html.no-animation .marquee {
  width: 100%;
  padding: 0;
}
html.no-animation .marquee-parent {
  overflow-x: auto;
}

.dyslexia-font h1 {
  font-family: var(--dyslexia-font);
}

h1 {
  font-family: var(--heading-font);
  letter-spacing: 0.05em;
}

.dyslexia-font h2 {
  font-family: var(--dyslexia-font);
}

h2 {
  font-family: var(--heading-font);
  letter-spacing: 0.05em;
}

.dyslexia-font h3 {
  font-family: var(--dyslexia-font);
}

h3 {
  font-family: var(--heading-font);
  letter-spacing: 0.05em;
}

.dyslexia-font h4 {
  font-family: var(--dyslexia-font);
}

h4 {
  font-family: var(--heading-font);
  letter-spacing: 0.05em;
}

.dyslexia-font h5 {
  font-family: var(--dyslexia-font);
}

h5 {
  font-family: var(--heading-font);
  letter-spacing: 0.05em;
}

.dyslexia-font h6 {
  font-family: var(--dyslexia-font);
}

h6 {
  font-family: var(--heading-font);
  letter-spacing: 0.05em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0.5rem 0;
  padding-left: 1.5rem;
  position: relative;
}
ul li::before {
  content: "◐";
  position: absolute;
  left: 0;
}

h1 {
  border-bottom: 1px solid currentColor;
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  cursor: var(--cursor-pointer);
}
a img {
  transition: filter 0.2s;
}
a:hover, a:focus-visible {
  border-bottom-style: dotted;
}
a:hover img, a:focus-visible img {
  filter: brightness(1.2);
}

abbr {
  text-decoration: dotted underline;
}

hr {
  border: none;
  border-top: 1px solid;
}

button {
  background: rgba(var(--bg-secondary));
  font-family: var(--heading-font);
  padding: 0.35rem 0.5rem;
  border: 2px solid currentColor;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: rgba(var(--cl-paragraph-secondary));
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 16px;
  border: 2px solid rgba(var(--cl-interactives));
  background: rgba(var(--bg-secondary));
}
input[type=range]:is(:focus-visible, :hover):not([disabled])::-webkit-slider-thumb {
  border-color: rgba(var(--cl-heading-secondary));
  background: rgba(var(--cl-interactives));
}
input[type=range][disabled] {
  opacity: 0.25;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 1.5rem;
  height: 1rem;
  background: rgba(var(--bg-secondary));
  border: 2px solid rgba(var(--cl-interactives));
}
input[type=checkbox]:hover {
  border-color: rgba(var(--cl-heading-secondary));
}
input[type=checkbox]:active {
  border-color: rgba(var(--cl-paragraph-secondary));
}
input[type=checkbox]::after {
  content: "";
  position: absolute;
  top: 0.1rem;
  bottom: 0.1rem;
  left: 0.1rem;
  width: 0.4rem;
  background: rgba(var(--cl-paragraph-secondary));
}
input[type=checkbox]:checked {
  border-color: rgba(var(--cl-heading-secondary));
  background: rgba(var(--cl-interactives));
}
input[type=checkbox]:checked:hover {
  border-color: rgba(var(--cl-interactives));
  background: rgba(var(--cl-heading-secondary));
}
input[type=checkbox]:checked:active {
  border-color: rgba(var(--cl-paragraph-secondary));
}
input[type=checkbox]:checked::after {
  left: unset;
  right: 0.1rem;
}

label,
input:is([type=button], [type=submit], [type=range], [type=checkbox]),
button,
select {
  cursor: var(--cursor-default);
}

textarea {
  max-width: 100%;
  background: linear-gradient(to bottom, rgba(12, 12, 12, 0.75), rgba(25, 25, 25, 0.75), rgba(12, 12, 12, 0.75));
  color: rgb(80, 200, 80);
  border: none;
  box-shadow: 0 0 0 1px rgba(var(--cl-paragraph-secondary));
}
textarea::selection {
  background: rgb(80, 200, 80);
  color: white;
}
textarea:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px rgba(var(--cl-interactives));
}

:is(a, button, input):focus-visible {
  outline: 1px dashed rgba(var(--cl-paragraph-secondary));
}

table {
  max-height: fit-content;
  margin: 0 auto;
  border-collapse: collapse;
}
table.layout :is(td, th) {
  background: none;
  border: none;
  padding: 0.3rem 0.5rem;
}
table.layout th {
  padding-left: 0;
}
table.layout td {
  padding-right: 0;
}
table.layout tr:first-child :is(th, td) {
  padding-top: 0;
}
table.layout tr:last-child :is(th, td) {
  padding-bottom: 0;
}
table.layout th {
  text-align: left;
}
table:not(.layout) tr:nth-child(even) {
  background: rgba(var(--bg-secondary), 0.5);
}
table th {
  font-size: 1.125rem;
  background: rgba(var(--cl-interactives));
  color: rgba(var(--cl-heading-secondary));
  text-shadow: 2px 0px white, 0px 2px white, -2px 0px white, 0px -2px white, -2px -2px white, 2px 2px white, -2px 2px white, 2px -2px white;
}
table td {
  color: rgba(var(--cl-paragraph-secondary));
}
table th,
table td {
  padding: 0.5rem 1rem;
  border: 1px solid rgba(var(--cl-primary));
}

.grid-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 37rem) {
  .grid-column {
    grid-template-columns: 100%;
  }
}

.flex-column {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
.flex-column > * {
  flex-grow: 1;
}

.marquee {
  --multiplier: 1;
  display: block;
  white-space: nowrap;
  padding-left: 100%;
  width: fit-content;
  animation: marquee calc(10s / var(--multiplier)) linear infinite forwards;
}
@keyframes marquee {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}
.marquee-parent {
  overflow-x: auto;
}
.marquee-parent[noscroll] {
  overflow-x: hidden;
}
.marquee-parent:hover .marquee {
  animation-play-state: paused;
}

*[data-tooltip]::before {
  content: "!";
  padding: 0 0.5rem;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(var(--cl-heading-secondary));
}

::selection {
  background: rgba(var(--cl-heading-secondary));
  color: rgba(var(--cl-paragraph-secondary));
}

/*# sourceMappingURL=global.css.map */
