header, aside > *, footer, #sites-buttons {
  background: rgba(var(--bg-secondary), 0.75);
  border-radius: 15px;
  padding: 1.25rem;
  border: 2px solid rgb(55, 55, 55);
  color: rgba(var(--cl-paragraph-secondary));
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
header :is(h1, h2, h3, h4, h5, h6), aside > * :is(h1, h2, h3, h4, h5, h6), footer :is(h1, h2, h3, h4, h5, h6), #sites-buttons :is(h1, h2, h3, h4, h5, h6) {
  color: rgba(var(--cl-heading-secondary));
}
header :is(h1, h2, h3, h4, h5, h6, p, ul):first-child, aside > * :is(h1, h2, h3, h4, h5, h6, p, ul):first-child, footer :is(h1, h2, h3, h4, h5, h6, p, ul):first-child, #sites-buttons :is(h1, h2, h3, h4, h5, h6, p, ul):first-child {
  margin-top: 0;
}
header :is(h1, h2, h3, h4, h5, h6, p, ul):last-child, aside > * :is(h1, h2, h3, h4, h5, h6, p, ul):last-child, footer :is(h1, h2, h3, h4, h5, h6, p, ul):last-child, #sites-buttons :is(h1, h2, h3, h4, h5, h6, p, ul):last-child {
  margin-bottom: 0;
}
header:target, aside > :target, footer:target, #sites-buttons:target {
  box-shadow: 0 0 5px 1px rgba(var(--cl-heading-secondary));
  border: 2px solid rgba(var(--cl-heading-secondary));
}
header::-webkit-scrollbar-thumb, aside > ::-webkit-scrollbar-thumb, footer::-webkit-scrollbar-thumb, #sites-buttons::-webkit-scrollbar-thumb {
  border-block: 15px solid transparent;
  background-clip: content-box;
}

body {
  min-width: 20rem;
  max-width: 68rem;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 12rem 40rem 12rem;
  grid-template-areas: "l m r" "b f i";
  gap: 1rem;
}
@media screen and (min-width: 68rem) {
  body {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 68rem) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "l" "m" "r" "f" "b";
  }
}

aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (max-width: 68rem) {
  aside {
    overflow-x: auto;
    flex-flow: row nowrap;
    padding: 0 1rem;
    max-height: 11rem;
  }
}
aside.left {
  grid-area: l;
}
aside.right {
  grid-area: r;
}
@media screen and (max-width: 68rem) {
  aside > * {
    overflow-y: auto;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    flex-grow: 1;
  }
}
aside h2 {
  font-size: 1.25em;
}
aside h3 {
  margin: 0;
  font-style: italic;
  font-size: 0.9rem;
  text-align: right;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
aside h3::before {
  content: "";
  flex-grow: 1;
  background: currentColor;
  height: 1px;
}
aside::-webkit-scrollbar-thumb {
  border-inline: 1rem solid transparent;
  background-clip: content-box;
}

main {
  grid-area: m;
  position: relative;
  overflow: hidden;
  min-height: 12rem;
}
@media screen and (max-width: 68rem) {
  main {
    width: 40rem;
    margin: 0 auto;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 42rem) {
  main {
    max-width: 40rem;
    width: 100%;
  }
}
main iframe {
  width: 100%;
  min-height: 100%;
}
main .load-indicator {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(var(--cl-heading-secondary)) transparent;
  animation: load 1s ease-in-out infinite;
}
@keyframes load {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(2turn);
  }
}
@media screen and (max-width: 68rem) {
  main.loading {
    max-height: 5rem;
  }
}
main.loading iframe {
  animation: blink 1s alternate linear infinite;
}
@keyframes blink {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.1;
  }
}
main.loading .load-indicator {
  display: block;
}

footer {
  grid-area: f;
}
@media screen and (max-width: 68rem) {
  footer {
    margin: 0 1rem;
    padding: 1rem;
  }
}

#settings div {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: 1fr auto;
}
#settings div * {
  margin-bottom: 0.5rem;
}

#navigation nav {
  margin: 0.25rem 0 0.5rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 68rem) {
  #navigation nav {
    flex-flow: row wrap;
  }
}
#navigation nav a {
  position: relative;
  padding: 0.25rem 0.75rem;
  border: none;
  transition: color 0.2s;
  -webkit-user-select: none;
  user-select: none;
}
#navigation nav a::after {
  content: "";
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 0;
  width: 3px;
  border-radius: 10px;
  background: transparent;
  transition: background-color 0.2s;
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.8));
}
#navigation nav a:hover::after {
  background: rgba(var(--cl-paragraph-secondary));
}
#navigation nav a:active {
  transition: none;
}

#splash-message {
  padding: 0.5rem 0;
}
@media screen and (max-width: 68rem) {
  #splash-message {
    display: none;
  }
}

#sites-buttons {
  display: flex;
  align-items: center;
  grid-area: b;
  padding: 0;
}
@media screen and (max-width: 68rem) {
  #sites-buttons {
    margin: 0 1rem;
    padding: 1rem 0;
  }
}
#sites-buttons .marquee a {
  --index-x: 0;
  --index-y: 0;
  display: inline-block;
  width: 88px;
  height: 31px;
  background-image: url(../images/buttons-sprite.png);
  background-position-x: calc(-88px * var(--index-x));
  background-position-y: calc(-31px * var(--index-y));
  border: none;
  transition: filter 0.2s;
}
#sites-buttons .marquee a:hover {
  filter: brightness(1.2);
}

#status .overall {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
#status .emotes {
  font-size: 3em;
}

#reloadIframe {
  position: absolute;
  top: 15px;
  right: 15px;
}
@media screen and (max-width: 68rem) {
  #reloadIframe {
    margin-right: 1rem;
  }
}

#clock {
  position: relative;
  margin: auto;
  width: 8rem;
  height: 8rem;
}
#clock .avatar {
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 50%;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.35), inset -2px -2px 3px rgba(0, 0, 0, 0.35);
  background: url(../images/me/avatar.jpg) center/contain;
}
#clock::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  background: #372910;
}
#clock::after {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: 50%;
  background: linear-gradient(135deg, #7e6031, #271c09);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

#second-hand,
#minute-hand,
#hour-hand {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%) rotate(var(--rotate));
  transform-origin: bottom center;
  height: 50%;
}
#second-hand::after,
#minute-hand::after,
#hour-hand::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 99px;
}

#second-hand {
  --rotate: 0deg;
  width: 3px;
  z-index: 4;
}
#second-hand::after {
  height: 100%;
  background: rgb(255, 0, 0);
}

#minute-hand {
  --rotate: 0deg;
  width: 6px;
  z-index: 3;
}
#minute-hand::after {
  height: 85%;
  background: rgb(220, 220, 220);
}

#hour-hand {
  --rotate: 0deg;
  z-index: 2;
  width: 10px;
}
#hour-hand::after {
  height: 55%;
  background: rgb(240, 240, 240);
}

.volume {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin-top: 1rem;
  gap: 0.5rem;
}

.change-or-play {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

#pp-btn {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pp-btn::before, #pp-btn::after {
  height: 1rem;
  background: currentColor;
}
#pp-btn::before {
  content: "";
  width: 1rem;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
#pp-btn.playing::before, #pp-btn.playing::after {
  width: 0.35rem;
}
#pp-btn.playing::before {
  margin-right: 0.1rem;
  clip-path: none;
}
#pp-btn.playing::after {
  content: "";
  margin-left: 0.1rem;
}

#next-btn,
#prev-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
#next-btn::before, #next-btn::after,
#prev-btn::before,
#prev-btn::after {
  content: "";
  height: 1rem;
  background: currentColor;
}

#next-btn::before {
  width: 0.6rem;
  clip-path: polygon(0 0, 100% 45%, 100% 55%, 0 100%);
}
#next-btn::after {
  width: 0.2rem;
}

#prev-btn::after {
  width: 0.6rem;
  clip-path: polygon(100% 0, 100% 100%, 0% 55%, 0% 45%);
}
#prev-btn::before {
  width: 0.2rem;
}

#mute-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.15rem;
  background: none;
  border: none;
  padding: 0;
}
#mute-btn::before, #mute-btn::after {
  content: "";
  background: currentColor;
}
#mute-btn::before {
  width: 0.1rem;
  height: 0.5rem;
}
#mute-btn::after {
  content: "";
  width: 0.4rem;
  height: 1rem;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 75%);
}
#mute-btn span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#loop-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

:is(#loop-btn.loop, #mute-btn.muted span)::before {
  content: "";
  background: currentColor;
  width: 2px;
  height: 125%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

#audio-volume {
  width: 100%;
  flex-grow: 1;
}

#system-info {
  position: fixed;
  bottom: 0;
  right: 0;
  font-style: italic;
  font-family: var(--heading-font);
  text-align: right;
  opacity: 0.75;
  pointer-events: none;
}

/*# sourceMappingURL=index.css.map */
