header, aside > *, footer, #sites-buttons {
  background: rgba(var(--bg-secondary), 0.75);
  border-radius: 15px;
  padding: 1.25rem;
  border: 2px solid rgb(55, 55, 55);
  color: rgba(var(--cl-paragraph-secondary));
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
header :is(h1, h2, h3, h4, h5, h6), aside > * :is(h1, h2, h3, h4, h5, h6), footer :is(h1, h2, h3, h4, h5, h6), #sites-buttons :is(h1, h2, h3, h4, h5, h6) {
  color: rgba(var(--cl-heading-secondary));
}
header :is(h1, h2, h3, h4, h5, h6, p, ul):first-child, aside > * :is(h1, h2, h3, h4, h5, h6, p, ul):first-child, footer :is(h1, h2, h3, h4, h5, h6, p, ul):first-child, #sites-buttons :is(h1, h2, h3, h4, h5, h6, p, ul):first-child {
  margin-top: 0;
}
header :is(h1, h2, h3, h4, h5, h6, p, ul):last-child, aside > * :is(h1, h2, h3, h4, h5, h6, p, ul):last-child, footer :is(h1, h2, h3, h4, h5, h6, p, ul):last-child, #sites-buttons :is(h1, h2, h3, h4, h5, h6, p, ul):last-child {
  margin-bottom: 0;
}
header:target, aside > :target, footer:target, #sites-buttons:target {
  box-shadow: 0 0 5px 1px rgba(var(--cl-heading-secondary));
  border: 2px solid rgba(var(--cl-heading-secondary));
}
header::-webkit-scrollbar-thumb, aside > ::-webkit-scrollbar-thumb, footer::-webkit-scrollbar-thumb, #sites-buttons::-webkit-scrollbar-thumb {
  border-block: 15px solid transparent;
  background-clip: content-box;
}

body::before, body::after {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  background: fixed no-repeat url(../images/backgrounds/main.jpg) center/cover, rgba(var(--bg-primary));
  min-width: 20rem;
  max-width: 68rem;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 12rem 40rem 12rem;
  grid-template-areas: "l m r" "b f .";
  gap: 1rem;
}
body::before {
  content: "";
  background: repeat linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0% 50%, rgba(0, 0, 0, 0.1) 0% 100%) top left/0.25rem 0.25rem;
  z-index: -1;
  animation: scrollUp 90s linear infinite;
}
@keyframes scrollUp {
  from {
    background-position-y: -100%;
  }
  to {
    background-position-y: 100%;
  }
}
body::after {
  content: "";
  z-index: -2;
  background: linear-gradient(to bottom, rgba(var(--bg-primary), 0.5), rgba(var(--bg-primary), 0.8));
}
@media screen and (min-width: 40rem) {
  body {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 68rem) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "l" "b" "m" "r" "f";
  }
}

header .avatar {
  position: relative;
  margin: auto;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.35), inset -2px -2px 3px rgba(0, 0, 0, 0.35);
}
header .avatar::after {
  content: "";
  position: absolute;
  inset: -4px;
  z-index: -1;
  border-radius: 50%;
  background: linear-gradient(135deg, #7e6031, #271c09);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (max-width: 68rem) {
  aside {
    overflow-x: auto;
    flex-flow: row nowrap;
    padding: 0 1rem;
    max-height: 11rem;
  }
}
aside.left {
  grid-area: l;
}
aside.right {
  grid-area: r;
}
@media screen and (max-width: 68rem) {
  aside > * {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}
aside h2 {
  font-size: 1.25em;
}
aside h3 {
  margin: 0;
  font-style: italic;
  font-size: 0.9rem;
  text-align: right;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
aside h3::before {
  content: "";
  flex-grow: 1;
  background: currentColor;
  height: 1px;
}
aside::-webkit-scrollbar-thumb {
  border-inline: 1rem solid transparent;
  background-clip: content-box;
}

main {
  grid-area: m;
  position: relative;
}
@media screen and (max-width: 68rem) {
  main {
    width: 40rem;
    margin: 0 auto;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 42rem) {
  main {
    max-width: 40rem;
    width: 100%;
  }
}
main iframe {
  width: 100%;
  min-height: 100%;
}
main .load-indicator {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(var(--cl-heading-secondary)) transparent;
  animation: load 1s ease-in-out infinite;
}
@keyframes load {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(2turn);
  }
}
main.loading iframe {
  animation: blink 1s alternate linear infinite;
}
@keyframes blink {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.1;
  }
}
main.loading .load-indicator {
  display: block;
}

footer {
  grid-area: f;
}
@media screen and (max-width: 68rem) {
  footer {
    margin: 0 1rem;
    padding: 1rem;
  }
}

#settings div * {
  margin-bottom: 0.5rem;
}

#navigation {
  max-width: 12rem;
  overflow-y: auto;
}
#navigation nav {
  margin: 0.25rem 0 0.5rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 68rem) {
  #navigation nav {
    flex-flow: row wrap;
  }
}
#navigation nav a {
  position: relative;
  padding: 0.25rem 0.75rem;
  border: none;
  -webkit-user-select: none;
  user-select: none;
}
#navigation nav a::after {
  content: "";
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  left: 0;
  width: 2px;
  background: transparent;
  transition: background-color 0.2s;
}
#navigation nav a:hover {
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
}
#navigation nav a:hover::after {
  background: rgba(var(--cl-paragraph-secondary));
}

#splash-message {
  padding: 0.5rem 0;
}
@media screen and (max-width: 68rem) {
  #splash-message {
    display: none;
  }
}

#sites-buttons {
  display: flex;
  align-items: center;
  grid-area: b;
  overflow: hidden;
  padding: 0;
}
@media screen and (max-width: 68rem) {
  #sites-buttons {
    margin: 0 1rem;
    padding: 1rem 0;
  }
}

#status {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
#status .emotes {
  font-size: 3em;
}

#clock::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  background: #372910;
}

#second-hand,
#minute-hand,
#hour-hand {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%) rotate(var(--rotate));
  transform-origin: bottom center;
  height: 50%;
}
#second-hand::after,
#minute-hand::after,
#hour-hand::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 99px;
}

#second-hand {
  --rotate: 0deg;
  width: 3px;
  z-index: 2;
  animation: clockHandSpin 60s linear infinite;
}
#second-hand::after {
  height: 100%;
  background: rgb(255, 0, 0);
}

#minute-hand {
  --rotate: 0deg;
  width: 6px;
  z-index: 1;
  animation: clockHandSpin 3600s linear infinite;
}
#minute-hand::after {
  height: 85%;
  background: rgb(220, 220, 220);
}

#hour-hand {
  --rotate: 0deg;
  width: 10px;
  animation: clockHandSpin 86400s linear infinite;
}
#hour-hand::after {
  height: 55%;
  background: rgb(240, 240, 240);
}

@keyframes clockHandSpin {
  from {
    transform: translate(-50%) rotate(calc(var(--rotate)));
  }
  to {
    transform: translate(-50%) rotate(calc(var(--rotate) + 1turn));
  }
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(var(--cl-heading-secondary));
}

/*# sourceMappingURL=index.css.map */
